/* f-letter{
    font-size: larger;
    font-weight: 300;
} */

.t-gray{
    color: gray;
}

.htag{
    transition: 1s ease;
    margin: 0px;
}

.htag[title]:hover:after {
    content: attr(title);
    position: absolute;
    background: orange;
    color: black;
    border-radius: 20px 20px 20px 0px;
    padding: 5px 15px;
    width: max-content;
    top: -150%;
    left: 0px;
    
}

a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.badge{
    font-size: 12px;
    background: #A692A6;
    border-radius: 5px;
    padding: 1px 5px;
    color: black;
    text-align: center;
    margin-right: 5px;
}

.w3-col {
    float: left;
    width: 50%;
    padding: 10px;
}

.w3-row:after {
    content: "";
    display: table;
    clear: both;
}

.w3-content{
    max-width: 980px;
}

.block{
    background-color: white;
    color: black;
}

.theme-dark{
    background-color: #17202A;
    color: white;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}


.w3-jumbo {
    font-size: 64px!important;
}

.highlighter-rouge{
    background-color: rgb(141, 116, 141);
    color: black;
}

.w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.w3-container, .w3-panel {
    padding: 0.01em 16px;
}


.fa-anchor, .fa-coffee {
    font-size: 200px !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.w3-text-red, .w3-hover-text-red:hover {
    color: #f44336!important;
}

.w3-tiny{
    font-size: 15px !important;
}

.w3-content, .w3-auto {
    margin-left: auto;
    margin-right: auto;
}

.w3-white{
    background-color: white;
    color:black;
}

.w3-black{
    color: white;
    background-color:black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.w3-round-xlarge {
    border-radius: 16px;
}

.w3-xlarge{
    font-size: 32px!important;
}

.w3-responsive{display:block;overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-rest{overflow:hidden}.w3-stretch{margin-left:-16px;margin-right:-16px}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}

.w3-padding {
    padding: 8px 16px!important;
}
.w3-margin {
    margin: 16px!important;
}
.w3-card, .w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.w3-round-large {
    border-radius: 8px;
}

.comment-tstamp{
    float: right;
    font-size: 12px;
    color: orangered;
}

.comment{
    padding: 1px 20px;
    border-top: 10px solid rgb(167, 0, 67);
}

.btn-project{
    background-color: #f78c6c;
    font-weight: 600;
    color: #f1f1f1 !important;
    transition: 0.3s ease;
}

.btn-project:hover{
    background-color: #f26f47;
    color: #17202A !important;
}

.btn-project:visited{
    color: #f1f1f1;
}