/* f-letter{
    font-size: larger;
    font-weight: 300;
} */

.t-gray{
    color: gray;
}

.htag{
    transition: 1s ease;
    margin: 0px;
}

.htag[title]:hover:after {
    content: attr(title);
    position: absolute;
    background: orange;
    color: black;
    border-radius: 20px 20px 20px 0px;
    padding: 5px 15px;
    width: max-content;
    top: -150%;
    left: 0px;
    
}

a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
}