---
title: Random Wanderer
---
{% include head.html %}
<link rel="stylesheet" href="assets/css/nav_back.css">
<meta name="theme-color" content="#17202A">
<link rel="stylesheet" href="/assets/css/blog.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165692854-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-165692854-1');
</script>
</head>


<body>
 
  <div class="initial-content">
    <!-- Nav Bar Ends | Header Begins-->
    <div class="">
      {% include masthead.html %}
    </div>
    <header class="container"  id="home">
      
      <div class="">
          <div class="text-center" style="margin-top:80px">
            <h2 class="text-lg" style="margin-bottom: 40px;">Welcome to my Blog</h2>
          </div>
      </div>
    </header>
    <div class="w3-content">
      {{ content }}
    </div>
  </div>
  <div id="footer" class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include_cached footer.html %}
    </footer>
  </div>
  {% include scripts.html %}
</body>
</html>
